* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --text-color: #fff;
  --bg-color: #000;
  --main-color: #ffa343;
  --h1-font: 6rem;
  --h2-font: 3rem;
  --p-font: 1rem;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  background-color: transparent;
  padding: 27px 17%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.50s ease;
}

.logo {
  font-size: 33px;
  color: var(--text-color);
  font-weight: 700;
}

span {
  color: var(--main-color);
}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--text-color);
  font-size: var(--p-font);
  font-weight: 500;
  margin: 15px 22px;
  transition: all 0.50s ease;
}

.navbar a:hover {
  color: var(--main-color);
}

.h-right {
  display: flex;
  align-items: center;
}

.h-right a:first-child {
  color: var(--text-color);
  font-size: var(--p-font);
  margin-right: 20px;
}

.h-right a {
  vertical-align: middle;
  font-size: 20px;
  color: var(--text-color);
  margin-right: 18px;
  margin-left: 5px;
  transition: all 0.50s ease;
}

.h-right a:hover {
  color: var(--main-color);
  transform: translateY(-3px);
}

#menu-icon {
  color: var(--text-color);
  font-size: 30px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}