* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --text-color: #fff;
  --bg-color: #000;
  --main-color: #ffa343;
  --h1-font: 6rem;
  --h2-font: 3rem;
  --p-font: 1rem;
}